
header {
    padding-top: 50px;
}
.navbar { 
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    text-align: center;
}
/**/
body {
    margin: 0;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

a:hover {
    color: orange;
}

a:active {
    color: darkslateblue;
}

ul {
    list-style-type: none;
    padding: 20px 20px 20px 20px;
    background-color: #3a9269;
    margin: 0;

}

ul li {
    display: inline;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-right: 50px;
    color: whitesmoke;
}

.dropbtn {
    color: inherit;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #3a9269;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lemonchiffon;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } 
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: black;
  }


.hero { 
    background-image: url(/images/humaaansslow.gif);
    width: 100%;
    padding: 80px 40px 10px 40px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 80px;
    font-weight: bolder;
    text-shadow: 4px 4px 6px #000000;
    margin-top: 0px;
    background-repeat: repeat-x;
    transition: background-position-x 5s;
    background-size: contain;
    background-position-x: 50%;
}

.hero:hover {
    background-position-x: 150%;
}

.intro {
    text-align: center;
    font-family: Helvetica, sans-serif;
}


.intro h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: palevioletred;
    font-size: 70px; 
}

.intro h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 40px; 
}

.intro p {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: inherit;
    font-size: 20px; 
}

.button {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: whitesmoke;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 5%; 
    padding: 20px 30px 20px 30px;
    margin-top: 10px;
    position: inherit;
}

button:hover {
    color: lightpink;
}

/*Dictionary*/ 

.introdic h1 {
    background-color: palevioletred;
    padding: 80px 40px 40px 40px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: lemonchiffon;
    font-size: 100px;
    margin-top: 0px;
}

.introdic p {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: black;
    font-size: 30px;
}

.A_Z {
    text-align: center;
    font-family: Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

.A_Z h2 {
    background-color: palevioletred;
    font-family: 'Roboto Condensed', sans-serif;
    color: lemonchiffon;
    font-weight: bold;
    font-size: 120px;
    clear: both;
}

.A_Z h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgrey;
    padding-left: 40px;
    font-size: 25px;
    text-align: start;
    clear: both;

}

.A_Z img {
    width: 40%;
    float: left;
    padding-left: 30px;

}

.Group img{
    float: right;
    width: 40%;
    padding-right: 25px;
}

.bossing img {
    float: right;
    width: 30%;
    padding-right: 25px;
}

.racism img {
    width: 30%;
    float: left;
    padding-right: 30px;
}

.A_Z p {
    text-align: left;
    font-family: 'Jaldi', sans-serif;
    
}

.classism img {
    width: 40%;
    float: left;
    padding-left: 30px;

}

.imagewrapa_z {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
}

.imagewrapa_z img {
    width: 100%;
    max-width: 800px;
}

.footer img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    
}

/*Resources*/ 

.resources  {
    text-align: center;
    font-family: Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

.resources h2{ 
    background-color: palevioletred;
    font-family: 'Roboto Condensed', sans-serif;
    color: lemonchiffon;
    font-weight: bold;
    font-size: 120px;
    clear: both;
}

.resources h3{ 
    display: inline-flexbox;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgrey;
    padding-left: 40px;
    font-size: 25px;
    text-align: start;
    clear: both;
    border: #000000;
}

.resources p{
    text-align: left;
    text-justify: auto;
}

.resources img {
    width: 100%;
    max-zoom: 150%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.instagram-media {
    text-align: center;
    display: inline;
    float: left;
    flex-wrap: wrap;

}




/*/footer/*/
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }
